.post-img {
    height: 400px;
    overflow: hidden;
    /* margin-top: 20px; */
  }
  
  .post-img img {
    width: 100%;
  }
  
  .blog-post-content {
    /* background-color: rebeccapurple; */
  }
  
  .blog-post-content h1 {
    text-align: center;
  }
  
  .blog-post-content p {
    font-size: 18px;
  }
  
  .row {
    display: flex;
  }
  
  .more-post {
    flex-direction: column;
    align-items: center;
  }
  
  .blogpost-meta {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
  }
  
  .author-info {
    margin: 12px 0;
  }
  
  .author-info div {
    padding: 4px 0;
    font-family: var(--font2);
  }
  
  .social {
    align-self: center;
    cursor: pointer;
  }