@import url("utils.css");
@import url("mobile.css"); 






.content {
  margin-top: 32px;
  height: 100%;
  display: flex;
  /* background-color: rgb(230, 230, 236); */
  position: relative;
  padding: 9px;
}

.content::after {
  content: "";
 background-image: url(images1\background.jpg);
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.5;
  z-index: -1;
  border-radius: 10px;
  font-weight: 500;
}

.content-left {
  width: 100%;
  font-family: var(--font1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-right img {
  height: 17vw;
  border: 2px solid black;
}



.home-articles {
  padding: 18px;
  /* background-color: rgb(173,156,145); */
  margin-top: 23px;
  position: relative;
  
}

.year-box {
  position: absolute;
  width: 234px;
  height: 255px;
  /* background-color: red; */
  right: 0px;
  /* top: 100px; */
  font-size: 18px;
}

.year-box div {
  margin-top: 6px;
}

.home-article {
  display: flex;
  margin: 20px;
}

.home-article-img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content h3 {
  font-weight: bolder;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}

