body {
	background-color: #ffffff;
	color: #333333;
	font-family: Arial, sans-serif;
}

form {
	background-color: #0066cc;
	color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	max-width: 500px;
	margin: 0 auto;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="submit"]
input[type="service"]
 {
	width: 90%;
	padding: 10px;
	margin-bottom: 20px;
	border: black;
	border-radius: 55px;
	font-size: 16px;
}

input[type="submit"] {
	background-color: #ffffff;
	color: #0066cc;
	cursor: pointer;
	font-weight: bold;
	width: 50%;
	align-content: center;
	align-items: center;
	justify-content: center;
}
/* Style for the dropdown button */
select {
	padding: 8px;
	border: none;
	background-color: #fff;
	color: #333;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

/* Style for the dropdown button when it's focused */
select:focus {
	outline: none;
	border: 2px solid #3498db;
}

/* Style for the dropdown options */
select option {
	background-color: #fff;
	color: #333;
}

/* Style for the dropdown arrow icon */
select::-ms-expand {
	display: none;
}

select::before {
	content: "\25BC";
	position: absolute;
	top: 10px;
	right: 10px;
	color: #333;
	font-size: 12px;
	z-index: 1;
}

/* Style for the dropdown container */
.select-container {
	position: relative;
	margin-bottom: 16px;
}


/* Responsive Styles */

@media only screen and (max-width: 600px) {
	form {
		padding: 10px;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="date"],
	input[type="submit"] {
		font-size: 14px;
	}

	input[type="submit"] {
		margin-top: 10px;
	}
}
